.addbooks_main{
  padding: 30px;
  background-color: rgb(235, 232, 232);
}
.form-control {
    margin: 20px 0;
  }
  
  .form-control label {
    display: block;
  }
  
  .form-control input {
    width: 90%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  
  .form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-control-check label {
    flex: 1;
  }
  
  .form-control-check input {
    flex: 2;
    height: 20px;
  }
  
  footer {
    margin-top: 30px;
    text-align: center;
  }

  .btn{
    background-color: black;
    display: inline-block;
    border-radius: 6px;
    margin-top: 10px;
    border-color: whites;
    color: white;
    font-family: inherit;
    align-items: center;
    max-width: 130px;
    font-size: 25px;
  }