.header{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: black;
  background-color: grey;
}

.btn{
  background-color: black;
  
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  border-color: white;
  color: white;
  font-family: inherit;
  align-items: center;
  max-width: 130px;
  font-size: 25px;
}
