.body{
  font-family: 'Courier New', Courier, monospace;
}

.container{
  max-width: 1000px;
  margin: 30px auto;
  background-color: rgb(235, 232, 232);
  
  min-height: 300px;
  border: 1px solid black;
  
  border-radius: 5px;
  
 
}
